@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container">
    <h1 id="project-title">Awesome Boilerplate Netcore</h1>
    <p>Este es un boilerplate hecho con net core 3.1 y Entity Framework, pensado para ligerar y reducir el tiempo de desarrollo a la hora de crear proyectos nuevos en .Net Core.</p>
    <h2 id="getting-started">¿Qué tenemos disponible?</h2>
    <ul>
        <li>Proyecto web con Razor Pages</li>
        <li>Api funcional con net core 3.1</li>
        <li>Generador de JWT</li>
        <li>Proyecto dividido por capas: modelos>data access>servicios>controladores>viewmodels>views</li>
        <li>Entity Framework</li>
        <li>Pruebas Unitarias con XUnit</li>

    </ul>
    <h3 id="prerequisites">Prerequisitos</h3>
    <p>Visual Studio 2019... mas nada.</p>
    @*<h2 id="contributing">Contribuciones</h2>
    <p>Por favor, Lea <a href="https://gist.github.com/PurpleBooth/b24679402957c63ec426">CONTRIBUTING.md</a> para detalles sobre el código de conducta y el proceso para aprobación de Pull Requests.</p>*@
    <h2 id="versioning">Versionado</h2>
    <p>Utilizamos GIT para el versionado del proyecto.</p>
    <h2 id="authors">Autor</h2>
    <ul>
        <li><strong>Kevin Hernandez</strong> - <em>Awesome Boilerplate Netcore</em> - <a href="https://github.com/kevinHernandez05/awesome-boilerplate-netcore">Enlace al repositorio.</a></li>
    </ul>
    @*<p>Y mire tambien una lista de <a href="https://github.com/your/project/contributors">contribuidores</a> que participaron en este proyecto.</p>*@
    <h2 id="license">Licencia</h2>
    <p>DWTFYW - <a href="https://choosealicense.com/licenses/wtfpl/">Ver más detalles...</a></p>
</div>

@section Scripts{

    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/modal-logic.js"></script>

}




